.PasswordInput *{
  // border: 1px solid #fff;
}

.passwordChecklist{
  .valid, .invalid{
    width: 100%;
    height: calc(9.5px + 9.5px + 21px);
    font-size: 14px;
    color: #fff;
    line-height: 21px;
    margin: 0;
    align-items: center;
    letter-spacing: 0.25px;
    
    span{
      opacity: 1;
      margin-left: 10px;
      padding: 0;
    }
  }
}