.PasswordInput *{
  /* border: 1px solid red; */
}

/* .h1Title{
  font-size: 96px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
} */

/* .dexwuP > span{
  opacity: 1;
} */

.valid, .invalid{
  width: calc(100% - 28px);
  color: #fff;
  opacity: 1;
  line-height: 20px;
  padding-top: 12px;
  align-items: center!important;
}

.valid:first-child, .invalid:first-child{
  padding-top: 0;
}

.valid > span, .invalid > span{
  margin-left: 10px;
}